.wrapper {
    /*max-width: 1280px;*/
    margin: 0 auto;
}

.path-find-canvas {
    display: table;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    float: left;
}

.path-find-canvas .menu,
.path-find-canvas input,
.path-find-canvas select
{
    font-size: 18px;
}

.search-info {
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    padding-left: 10px;
}

.column-one {
    order: 1;
}
.column-two {
    order: 2;
}
.column-three {
    order: 3;
}
.column-four  {
    order: 4;
}

.path-find-container input[type="text"] {
    width: 25px;
    padding: 2px;
}

.path-find-container input[type="button"] {
    padding: 15px;
}

.algorithm-container,
.heuristic-container {
    text-align: left;
    padding-left: 20px;
}